* {
    margin: 0;
    padding: 0;
}

nav {
    position: relative;
}

.nav-container {
    padding: 15px 0px;
    background: blue;
    align-items: center;
}

.nav-container1 {
    padding-top: 25px;
}

.main-nav {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

main {
    text-align: center;
}

.GPA {
    padding-top: 2em;
}

.GPA,
.class-attain {
    margin-bottom: 1.5em;
}

.pexit {
    background: rgb(238, 238, 238);
    position: absolute;
    right: 0;
    top: 0;
    padding: 2px 25px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    z-index: 1;
    animation: slide-in 1s ease;
    display: none;
}

button {
    background: transparent;
    border: none;
    font-size: 1rem;
}

@keyframes slide-in {
    0% {
        transform: translateX(150px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}